@model Vidly.Models.Customer

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
@{
    if (Model == null)
    {
        <p>Customer not available</p>
    }
    else
    {
        if (Model.BirthDate == null)

        {
            <ul>
                <li>@Model.MembershipType.Name</li>
                <li>@Model.IsSubscribedToNewsLetter</li>

            </ul>
        }
        else
        {
            <ul>
                <li>@Model.MembershipType.Name</li>
                <li>@Model.IsSubscribedToNewsLetter</li>
                <li>@Model.BirthDate</li>
            </ul>
        }



    }
}
